*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;

}

.header {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    padding: 10px 5%;
    position: relative;
}



nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2px 0;
    margin-right: 25px;
}


.logo{
    width: 120px;
    margin-top: 0px;
    margin-left: 12px;
    cursor: pointer;
}

nav a {
    margin-left: 2px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 7px 20px;
    font-weight: 400;
    

}

nav a:hover {
    color: orange;
    text-decoration: none;


}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 10px;
}

.header-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    max-width: 650px;
    text-shadow: 2px 3px 6px rgb(183, 182, 182);
    font-style: italic;
}

.header-content p{
    font-size: 16px;
    margin-top: 12px;
    font-weight: 300;
    max-width: 650px;
}

.features {
    margin: 70px 0;
    position: relative;
    font-size: 30px;
    

}
.features h1{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: orange;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}


.row{
    display: flex;
    width: 100%;
    align-items:center;
    padding: 15px 0;
    
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
    

}

.img-col {
    flex-basis: 60%;
    min-width: 360px;
}

.img-col img {
    width: 100%;
    cursor: pointer;
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(235, 158, 15, 0.7);
  }
  .img1 {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  .img1:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }